html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;

}

.grass, .sky, .road{
    position: relative;
}

.sky{
    height: 70%;
    background: seagreen;
}

.road{
    height: 30%;
    background: dimgray;
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width: 100%;

}

.lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0;
    width: 100%;
    position: absolute;
    top: 45%;
}

.mario{
    position: absolute;
    top: -40px;
    left: 0px;
    /* animation-name: drive;
    animation-duration: 3s; */
    
    animation: drive 3s both infinite linear, jump 0.3s 1.2s ease;

    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
    /* animation-fill-mode: both; */
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */
    /* animation-iteration-count: infinite; */

    /* animation-timing-function: ease; */
    /* animation-timing-function: linear; */
    /* animation-timing-function: ease-in; */
    /* animation-timing-function: ease-out; */
    /* animation-timing-function: ease-in-out; */
    /* animation-timing-function: cubic-bezier(.42,0,.58,1) */
    /* animation-timing-function: cubic-bezier(0,.77,1,.28) */
}

.luigi{
    position: absolute;
    top: 10px;
    left: 0;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    /* animation-direction: normal; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse */
    animation-timing-function: linear;
}

.cloud{
    position: absolute;
}

.cloud:nth-child(1){
    width: 200px;
    top: 120px;
    opacity: 0.5;
    animation: wind 80s linear infinite reverse;
}

.cloud:nth-child(2){
    width: 300px;
    top: 0;
       /* if your like delay 👇add 5s */
    animation: wind 50s linear infinite reverse;
}

@keyframes drive{
    from{
        /* transform: translateX(200px); */
        transform: translateX(-200px);
    }
    to{
        /* transform: translateX(90vw); */
        transform: translateX(1700px);
    }
}

@keyframes wind{
    from{
        left: -300px;
    }
    to{
        left: 100%;
    }
}

@keyframes jump{
    0%{  top: -40px;}
    50%{ top: -100;}
    100%{ top: -40px;}
}